* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}



body {
    background-color: rgba(125, 192, 221, 0.751);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

header {
    background-color: rgb(12, 75, 101);
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 10px;

}

header h1 {
    color: whitesmoke;
    margin-bottom: 35px;
}

input {
    display: block;
    border: 2px solid transparent;
    height: 38px;
    padding: 10px;
    margin: 17px;
    width: 320px;
    background-color: transparent;
    border-bottom: 2px solid whitesmoke;
}

.btn {
    background-color: rgb(20, 126, 168);
    cursor: pointer;
    transition: .3s;
    font-size: 1rem;
    color: whitesmoke;
    border: 1px solid transparent;
    border-radius: 7px;

}

.btn:hover {
    background-color: rgba(89, 165, 196, 0.787);
    cursor: pointer;
    color: rgba(235, 209, 209, 0.758);
    scale: 0.9999999;

}

header a {
    text-align: center;
    color: brown;
    text-decoration: underline;
}

header a:hover {
    color: rgb(33, 9, 9);
}

label {
    color: white;
    display: block;
    margin-left: 10px;

}

@media screen and (max-width: 600px) {

    .container {
        padding: 0;
    }

    header {
        width: 100%;
        height: 100vh;
        margin: 0;
        border-radius: 0;
    }

    input {
        width: 75vw;
    }
}